name: tests

on:
  [push, pull_request]
  # pull_request:
  #   branches: [main, staging]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python3 -m pip install -e .

      - name: Run ruff
        run: ruff check .

      - name: Run mypy
        run: mypy . --disable-error-code=call-arg
